<?php

namespace Drupal\{{ machine_name }}\Plugin\config_entity_cloner\ConfigEntityClonerProcessor;

use Drupal\config_entity_cloner\PluginManager\ConfigEntityClonerProcessor\ConfigEntityClonerProcessorInterface;
use Drupal\config_entity_cloner\PluginManager\ConfigEntityClonerProcess\ConfigEntityClonerProcessPluginManager;
use Symfony\Component\DependencyInjection\ContainerInterface;

/**
 * Plugin implementation For the type processor.
 *
 * @ConfigEntityClonerProcessorAnnotation(
 *   id = "{{ plugin_id }}",
 *   label = "{{ plugin_label }}",
 *   weight = {{ plugin_weight }}
 * )
 */
class {{ class }}ConfigEntityClonerProcessor implements ConfigEntityClonerProcessorInterface {


  /**
   * The cloner process plugin manager.
   *
   * @var \Drupal\config_entity_cloner\PluginManager\ConfigEntityClonerProcess\ConfigEntityClonerProcessPluginManager
   */
  protected ConfigEntityClonerProcessPluginManager $clonerProcessPluginManager;

  /**
   * {{ class }}ConfigEntityClonerProcessor constructor.
   */
  public function __construct(
      ConfigEntityClonerProcessPluginManager $cloner_process_plugin_manager,
    ) {
    $this->clonerProcessPluginManager = $cloner_process_plugin_manager;
  }

  /**
   * {@inheritdoc}
   */
  public static function create(ContainerInterface $container): ConfigEntityClonerProcessorInterface {
    return new static(
      $container->get(ConfigEntityClonerProcessPluginManager::SERVICE_NAME)
    );
  }

  /**
   * {@inheritdoc}
   */
  public function getProcessList(): array {
    return $this->clonerProcessPluginManager->getAllPlugins();
  }

}
