<?php

namespace Drupal\{{ machine_name }}\Plugin\config_entity_cloner\ConfigEntityClonerProcess;

use Drupal\config_entity_cloner\PluginManager\ConfigEntityClonerProcess\ConfigEntityClonerProcessInterface;
use Drupal\Core\Entity\EntityInterface;
use Symfony\Component\DependencyInjection\ContainerInterface;

/**
 * Plugin implementation For the type processor.
 *
 * @ConfigEntityClonerProcessAnnotation(
 *   id = "{{ plugin_id }}",
 *   label = "{{ plugin_label }}",
 *   weight = {{ plugin_weight }}
 * )
 */
class {{ class }}ConfigEntityClonerProcess implements ConfigEntityClonerProcessInterface {

  /**
   * {{ class }} constructor.
   */
  public function __construct() {
  }

  /**
   * {@inheritdoc}
   */
  public static function create(ContainerInterface $container): ConfigEntityClonerProcessInterface {
    return new static();
  }

  /**
   * {@inheritdoc}
   */
  public function cloneProcess(EntityInterface $new_entity, EntityInterface $original_entity): void {
    // @TODO: Add your own clone process.
  }

}
